<section class="container">
  <header class="header">
    <a href="https://www.linkedin.com/in/thalita-oliveira-b7906020a/" target="blank">
      <img src="../assets/circle-picture.png" alt="Foto de perfil" class="header__image">
    </a>

    <h1 class="header__title">Thalita Oliveira</h1>
    <h2 class="header__subtitle">Software Developer</h2>

    <p class="header__about">
      <strong>Hello!</strong> My name is Thalita and I am a software developer. I love programming and what we can do with it. My goal is continually develop my coding skills and design techniques to make beautiful, responsive and high performance websites. Welcome to my portfolio!
    </p>
  </header>

  <div class="projects">
    <div class="projects__items">
      <a href="https://sorteador-numeros-2.web.app/" target="blank">
        <img src="../assets/images/sorteador-numeros.png" alt="Logo Sorteador de Números">
      </a>
      <p>Sorteador de números</p>
    </div>

    <div class="projects__items">
      <a href="https://calculad0ra.web.app/" target="blank">
        <img src="../assets/images/calculadora.ico" alt="Logo Calculadora">
      </a>
      <p>Calculadora</p>
    </div>

    <div class="projects__items">
      <a href="https://atma-music-studio.web.app/" target="blank">
        <img src="../assets/images/atma-studio.png" alt="Logo Atma Studio">
      </a>
      <p>Atma Music Studio</p>
    </div>

    <div class="projects__items">
      <a href="">
        <img src="../assets/images/formulario.ico" alt="Logo Formulário">
      </a>
      <p>Formulário</p>
    </div>
  </div>
</section>