<section class="container">
  <header class="header">
    <div class="header__block-image">
      <span class="header__image">
        <img src="../assets/images/circle-picture.png" alt="Foto de perfil">
      </span>
      <h1 class="header__title">Thalita Oliveira</h1>
      <h2 class="header__subtitle">Desenvolvedora de software</h2>
    </div>

    <div class="header__about">
      <p>
        Desenvolvedora de software front-end, freelancer, atuando com HTML, CSS e JavaScript, e discente do curso superior em Análise e Desenvolvimento de Sistemas no Instituto Federal de São Paulo.
      </p>
    </div>
  </header>

  <div class="projects">
    <a href="https://sorteador-numeros-2.web.app/" target="blank" class="projects__link">
      <div class="projects__items">
        <img src="../assets/images/sorteador-numeros.png" alt="Logo Sorteador de Números">
        <p>Sorteador de números</p>
      </div>
    </a>

    <a href="https://calculad0ra.web.app/" target="blank" class="projects__link">
      <div class="projects__items">
        <img src="../assets/images/calculadora.ico" alt="Logo Calculadora">
        <p>Calculadora</p>
      </div>
      </a>

    <a href="https://atma-music-studio.web.app/" target="blank" class="projects__link">
      <div class="projects__items">
        <img src="../assets/images/atma-studio.png" alt="Logo Atma Studio">
        <p>Atma Music Studio</p>
      </div>
    </a>

    <a href="https://f0rmulario.web.app/" target="blank" class="projects__link">
      <div class="projects__items">
        <img src="../assets/images/formulario.ico" alt="Logo Formulário">
        <p>Formulário</p>
      </div>
    </a>
  </div>

  <div class="contact">
    <a href="https://www.linkedin.com/in/thalita-oliveira-b7906020a/" target="blank">
      <img src="../assets/images/linkedin-35.png" alt="Logo LinkedIn" class="contact__logo">
    </a>

    <a href="https://github.com/thalitatholiveira" target="blank">
      <img src="../assets/images/github-35.png" alt="Logo GitHub" class="contact__logo">
    </a>

    <a href="https://wa.me/5541995473276" target="blank">
      <img src="../assets/images/whatsapp-35.png" alt="Logo WhatsApp" class="contact__logo">
    </a>

    <a href="mailto:thalita.th.oliveira@gmail.com" target="blank">
      <img src="../assets/images/email-35.png" alt="Logo E-mail" class="contact__logo">
    </a>
  </div>
</section>